<div class="container">
  <form #f="ngForm" (ngSubmit)="save(f)">
    <div class="row">
      <div class="col-md-4"><label>Name: </label></div>
      <div class="col-md-4"><input type=text class="form-control" name="name" ngModel required #name="ngModel" /></div>
      <div class="col-md-4" *ngIf="name.touched && name.invalid">
        Please Enter Name
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"><label>Mobile No: </label></div>
      <div class="col-md-4"><input type=text class="form-control" name="mobileNo" ngModel required #mobileNo="ngModel" /></div>
      <div class="col-md-4" *ngIf="mobileNo.touched && mobileNo.invalid">
        Please Enter Mobile Number
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"><label>Email: </label></div>
      <div class="col-md-4"><input type=text class="form-control" name="email" ngModel required email #email="ngModel" /></div>
      <div class="col-md-4" *ngIf="email.errors && email.touched">
        <span *ngIf="email.errors.required">Please Enter Email</span>
        <span *ngIf="email.errors.email">Please Enter Valid Email</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"><label>Course: </label></div>
      <div class="col-md-4">
        <select name="course" ngModel required class="form-control">
          <option value="-1">-:Select Course:-</option>
          <option value="JAVA">Advance Java</option>
          <option value="ANGULAR">Angular 4/5/6</option>
          <option value="BIGDATA">BigData Hadoop</option>
        </select>
      </div>
    </div>
    <div class="row">      
      <div class="col"><label>Gender: </label></div>
      <div class="col-md-3">        
        Male <input type=radio class="form-control" name="gender" value="M" ngModel required/>
        Female <input type=radio class="form-control" name="gender" value="F" ngModel required/>
      </div>
    </div>

    <div class="row">      
      <div class="col"><label>Test: </label></div>
      <div class="col-md-3" *ngFor="let l of list;let i=index">        
        <input type="checkbox" name="test[{{i}}]" value="{{l}}" ngModel/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Submit</button>
        <button class="btn btn-default" type="reset" (click)="reset(f)">Reset</button>
      </div>      
    </div>
  </form>
</div>