<form [formGroup]="teamForm" (ngSubmit)="saveTeam()">
  <table>
    <tr>
      <td>Team Name</td>
      <td><input type=text formControlName="teamName"></td>
    </tr>
    <tr>
      <td>Manager Name</td>
      <td><input type=text formControlName="managerName"></td>
    </tr>
    <div formGroupName="department">
      <span *ngIf="teamForm.get('department').invalid && teamForm.get('department').touched">Something missing in Department</span>
      <tr>
        <td>Code</td>
        <td><input type=text formControlName="code"></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><input type=text formControlName="description"></td>
      </tr>
    </div>
    <tr>
      <td><button type=submit>Submit</button></td>
    </tr>
  </table>
</form>
{{team | json}}